<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  # change RewriteBase for other project
  RewriteBase /multipleUpload/public
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>